<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Peluqueria de la Abuela<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="listar-empleado">Lista de empleados</a>
        <a class="nav-item nav-link" routerLink="agregar-empleado">Agregar empleado</a>  
    </div> 
</nav>


<div class="container-fluid">
    <p>---------</p>
    
   <router-outlet></router-outlet> 

</div>
